%h1 Where's the Flood?
#floodfinder
  %p#privacy
    This application uses geolocation; it sends your coordinates to
    a central service, where they may be logged and tracked. If you
    do not want this, click "Deny" when it asks for your location.
  %h2 About
  #meta
