%h1 Where's the Flood?
#floodfinder
  %p#privacy
    This application uses geolocation; it sends your coordinates to
    a central service, where they may be logged and tracked. If you
    do not want this, click "Deny" when it asks for your location.
  #localgeo{style: 'display: none'}
    %h2 You're at:
    %dl
      %dt Longitude
      %dd {{ coords.longitude }}
      %dt Latitude
      %dd {{ coords.latitude }}
      %dt Horizontal Accuracy
      %dd {{ coords.accuracy }}
  #floodzone{style: 'display: none'}
    %h2 It's a:
    %p.zone_name {{ zone.name }}
    %p.zone_designation {{ zone_designation }}
  %h2 About
  #meta
    #nobueno{style: 'display: none'}
      Couldn't activate geolocation.
      %strong USING SAMPLE DATA
  #spinnaz{style: 'display: none'}
    ridin' spinnaz
